<meta name="viewport" content="width=device-width, initial-scale=1">

<div id="content"></div>

<script type="text/javascript" charset="utf-8">
  $(Asco.initialize());
</script>

<% if current_user.username %>
  <h3>welcome <%= current_user.username %> </h3>
<% else %>
  <h3>welcome <%= current_user.email %> </h3>
<% end %>
