Sign In

<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <p>Error:</p>
    <%= err %>
  <% end %>
<% end %><br><br>

<form action="<%= session_url %>" method="post">
  <%= auth_token_input %>
  <label for="username">Username</label>
  <input type="text" name="user[username]" id="username">
  <br>

  <label for="email">Email</label>
  <input type="text" name="user[email]" id="email">
  <br>

  <label for="password">Password</label>
  <input type="password" name="user[password]" id="password">
  <br>

  <input type="submit" value="Sign In"><br>
</form>
  <%= button_to "Register", new_user_url, method: :get %>
