<% if ( user.get('follow') == 'true'){ %>
  <a class='follow-btns-a' href="javascript:void(0)">
    <div class="follow-btns following-button">
      Following
    </div>
  </a>
<% } else { %>
  <a class='follow-btns-a' href="javascript:void(0)">
    <div class="follow-btns follow-button">
      Follow
    </div>
  </a>
<% } %>
