
<img src="https://s3-us-west-1.amazonaws.com/asco-jkh/layout/profile.jpg" class="grid-icon">

<div class='grid-description'></div>

<% if (images.length > 0) { %>
  <div class="grida-images">
    <% images.each(function (image) { %>
        <div class="item">
          <a class="image-item-a" href="#/images/<%= image.id %>"><img class="image-item" src="<%= image.escape('url') %>"></a>
          <a href="" class="image-owner">
            <% if (image.owner().escape('username')) { %>
              <%= image.owner().escape('username') %>
            <% } else { %>
              <%= image.owner().escape('email') %>
            <% } %>
          </a>
        </div>
    <% }); %>
  </div>
<% } %>
