<div class="search-header">
  <center>
  <input class="search-field" type="text" placeholder="user or tag, ex: dan">
  <ul class="search-options">
    <li>images</li>
  </ul>
  </center>
</div>

<div class="search-grid"></div>
