<div class='nav-usergrid'>
  <div class='nav-follow-toggle'>
    <% if (user.get('follow')) { %>
      <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_follow_circle.png' class='nav-follow-icon followed'>
    <% } else { %>
      <img src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/icon_follow_plus.png' class='nav-follow-icon follow'>
    <% } %>
  </div>
</div>

<div class="header-usergrid">
  <center>
  <% if (images.first()) { %>
    <img src="<%= images.first().owner().escape('avatar') %>" class="avatar-usergrid"><br>
    <span class="user-show-title"><%= images.first().owner().escape('username') ? images.first().owner().escape('username') :  images.first().owner().escape('email') %></span>
  <% } %>
  <div class='follow-space'></div>
  </center>
</div>

<div class="grida-images">
  <% if (images.length > 0) { %>
    <% images.each(function (image) { %>
      <div class="item">
        <a class="image-item-a" href="#/images/<%= image.id %>"><img class="image-item" src="<%= image.escape('url') %>"></a>
      </div>
    <% }); %>
  <% } %>
</div>
