<meta name="viewport" content="width=device-width, initial-scale=1">

<% if flash[:errors] %>
  <% flash[:errors].each do |err| %>
    <p>Error:</p>
    <%= err %>
  <% end %>
<% end %><br><br>

<div class="signin-page"></div>

<div class="entry-area">
  <center>
    <img class='logo-home' src='https://s3-us-west-1.amazonaws.com/asco-jkh/layout/logo_asco_white_no_bg.png'><br><br><br>
    <form action="<%= users_url %>" method="post">
      <%= auth_token_input %>
      <input type="text" name="user[email]" placeholder="Email"
      class="ffield" tabindex="1">
      <br>
      <br>

      <input type="password" name="user[password]" placeholder="Password"
      class="ffield" tabindex="2">
      <br>
      <br>

      <input type="submit" value="Register" class="btn enter" tabindex="3">
    </form>
  </center>
</div>
