/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: 'Proxima Nova';
   src: url('https://s3-us-west-1.amazonaws.com/asco-jkh/fonts/proxima+nova/ProximaNova-Light.otf')
 }

 @import 'bootstrap';

 .navbar {
   height: 60px;
   border: none;
   background-color: #f9f9f9;
   margin: 24px;
   font-family: 'Proxima Nova', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   font-size: 12px;
   letter-spacing: 2px;
 }

 .container-fluid .navbar-brand {
   width: 70px;
   height: 60px;
   padding: 0px;
 }

 .navbar-default .navbar-right > li > a {
   &:hover {
     color: #000000;
   }
   color: #999999;
 }

 .navbar .logo {
   width: 70px;
   height: 60px;
 }

 body {
   font-family: 'Proxima Nova', sans-serif;
 }
