/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html, body, div, span, applet, object, iframe,
 h1, h2, h3, h4, h5, h6, p, blockquote, pre,
 a, abbr, acronym, address, big, cite, code,
 del, dfn, em, img, ins, kbd, q, s, samp,
 small, strike, strong, sub, sup, tt, var,
 b, u, i, center,
 dl, dt, dd, ol, ul, li,
 fieldset, form, label, legend,
 table, caption, tbody, tfoot, thead, tr, th, td,
 article, aside, canvas, details, embed,
 figure, figcaption, footer, header, hgroup,
 menu, nav, output, ruby, section, summary,
 time, mark, audio, video {
 	margin: 0;
 	padding: 0;
 	border: 0;
 	font-size: 100%;
 	font: inherit;
 	vertical-align: baseline;
  text-decoration: none;
  color: black;
 }
 /* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure,
 footer, header, hgroup, menu, nav, section {
 	display: block;
 }
 body {
 	line-height: 1;
 }
 ol, ul {
 	list-style: none;
 }
 blockquote, q {
 	quotes: none;
 }
 blockquote:before, blockquote:after,
 q:before, q:after {
 	content: '';
 	content: none;
 }
 table {
 	border-collapse: collapse;
 	border-spacing: 0;
 }

 @font-face {
   font-family: 'Proxima Nova';
   src: url('https://s3-us-west-1.amazonaws.com/asco-jkh/fonts/proxima+nova/ProximaNova-Semibold.otf')
 }

 @import 'bootstrap';

html {
  font-size: 16px;
}

body {
   font-family: 'Proxima Nova', sans-serif;
   font-size: 14px;
 }

.btn {
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: .75rem;
  letter-spacing: .1em;
  padding-top: 11px;
  padding-bottom: 9px;
}

.navbar {
   height: 60px;
   border: none;
   background-color: #f9f9f9;
   margin: 24px;
   font-family: 'Proxima Nova', sans-serif;
   font-weight: bold;
   text-transform: uppercase;
   font-size: .75rem;
   letter-spacing: .1em;
   position: relative;
   border-radius: 0;
 }

.container-fluid .navbar-brand {
   left: 2px;
   width: 70px;
   height: 60px;
   padding: 0px;
 }

.navbar-default .navbar-right > li > a {
   &:hover {
     color: #000000;
   }
   color: #999999;
 }

.navbar .logo {
   left: 2px;
   width: 70px;
   height: 60px;
 }

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
   margin-left: -12px;
 }

.navbar-right {
  margin-right: -30px;
  height: 60px;
  li:not(.dropdown-item) {
    background: url('https://s3-us-west-1.amazonaws.com/asco-jkh/layout/divider.png') 0 no-repeat;
    height: 60px;
    padding-left: 1px;
  }
  li:not(.navbar-search-li):not(.dropdown-item):not(.dropdown-item > a) {
    padding-top: 20px;
    a {
      height: 60px;
    }
  }
}

.navbar-right > li:not(.navbar-search-li) {
  padding-top: 20px;
}

.navbar-right .dropdown-item {
  font-size:.75rem;
  height: 20px;
  width: 100%;
  &:hover {
    background-color: #f9f9f9;
    height: 20px;
    width: 100%;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: transparent;
}

.navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse {
  margin-left: 0px;
}

.navbar-right .dropdown-menu {
  left: 0;
}

.dropdown-menu {
  border: none;
  padding: 0 0;
}

.dropdown-item {
  background-color: #f9f9f9;
}

.navbar-collapse {
  padding-left: 0px;
}

.collapse.in > .navbar-right > li {
  background-color: #f9f9f9;
}

.navbar-collapse.in {
  overflow-y: inherit;
}

.dropdown-item > a:hover {
  height: auto;
}

.nav > li > a {
  padding: 0 15px;
  &.navbar-search-a {
    padding: 0px;
  }
}

.navbar-nav > li > a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.entry-area {
  position: absolute;
  margin: auto;
  height: 358px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.btn {
  width: 255px;
  border-radius: 0;
  border: none;
  padding-top: 11px;
  padding-bottom: 9px;
}

.ffield {
  padding: 10px;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: bold;
  font-size: .75rem;
  letter-spacing: .1em;
  width: 255px;
  border: none;
}

.btn.grey {
  color: white;
  background: #bbbbbb;
  width: 255px;
  margin-bottom: 20px;
  &:hover {
    background: #b6b6b6;
  }
}

.btn.register {
  margin-bottom: 40px;
}

.btn.enter {
  color: white;
  background: #a6a547;
  width: 255px;
  &:hover {
    background: #9f9e44;
  }
}

.signin-page {
  position: absolute;
  background: url('https://s3-us-west-1.amazonaws.com/asco-jkh/layout/sign_in_bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display:block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1000;
}

.header {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  display: block;
}

.avatar-usergrid {
  width: 64px;
  height: 64px;
}

.prev-image img {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

.prev-image {
  top: 50%;
  left: 2%;
}

.next-image {
  top: 50%;
  right: 2%;
}

.images {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block;
}

.prev-image {
  float: left;
  position: fixed;
}

.next-image {
  float: right;
  position: fixed;
}

.image {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: block;
}

.image-show-title {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.image-show {
  position: relative;
  display: block;
}

.grid-icon {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 23px;
  width: 64px;
  height: 64px;
  display: block;
}

.header-usergrid {
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 40px;
  display: block;
}

.avatar-usergrid {
  margin-bottom: 40px;
}

.signin-errors {
  color: #bbbbbb;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.signup-errors {
  color: #bbbbbb;
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.entry-area {
  width: 255px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.logo-home {
  width: 100px;
  height: 33px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.following {
  padding-left: 20px;
  background-image: url("https://s3-us-west-1.amazonaws.com/asco-jkh/layout/following_icon_2x.png");
  background-position: 0 1px;
  background-repeat: no-repeat;
  background-size: 13px 10px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #404040;
  font-size: 10px;
  letter-spacing: .1em;
  float: right;
  margin-right: 40px;
  width: 85px;
}

.white-pixel {
  height: 14px;
  width: 80%;
  float: left;
  margin-left: 40px;
}

.feed-header {
  padding: .66em 0;
  margin-bottom: 1.25em;
}

.image-owner {
  margin-top: 2.25em;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
  text-decoration: none;
  color: #666666;
  font-size: .6875rem;
  font-weight: normal;
  letter-spacing: 0.2em;
  &:hover {
    text-decoration: none;
    color: #9f9e44;
    font-weight: normal;
  }
}

.item {
  margin-top: 1.2em;
  img {
    // -webkit-filter: blur(3px);
    transition: -webkit-filter .15s ease;
    &:hover {
      // -webkit-filter: none;
      -webkit-filter: opacity(0.75);
    }
  }
}

.grida-images {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  display: block;
}

.user-show-title {
  font-family: "Times New Roman", TimesNewRoman, Times, Georgia, serif;
  font-size: .8125rem;
  color: #000000;
  text-decoration: none;
  letter-spacing: .2em;
  text-transform: uppercase;
}

.image-show-title {
  font-family: "Times New Roman", TimesNewRoman, Times, Georgia, seif;
  font-size: 0.8125rem;
  color: #000000;
  letter-spacing: 0.2rem;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 120px;
  &:hover {
    text-decoration: none;
    color: #000000;
    font-weight: normal;
  }
}
